{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
  <h1>Homepage</h1>
  <img src="{% static 'images/turtle.jfif' %}" alt="turtle" class="bookcover">
  {% if user.is_authenticated %}
    <p>Hi {{ user.email }}!</p>
    <p><a href="{% url 'account_logout' %}">Logout</a></p>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'account_login' %}">Login</a>
    <a href="{% url 'account_signup' %}">Sign Up</a>
  {% endif %}
{% endblock content %}